/* Importing the fonts that we will use */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

/* CSS styling for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #229684;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9FFFCB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #70ffb0;
}

/* Creates a background color for the entire website */
body {
  margin: 0;
  background-color: #25A18E;
  overflow-x: hidden; /* makes anything that goes past the screen width hidden */
}


h2 {
  font-family: 'Roboto Mono', monospace;
    margin-top: 35px;
    margin-bottom: 5px;
}

h3 {
  font-family: 'Roboto Mono', monospace;
    margin-top: 35px;
    margin-bottom: 5px;
}

/* Styling for the div that holds the main page content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  font-family: 'Metrophobic', sans-serif;
  flex-direction: column;
}

/* Styling for the div that holds all the dashboard content */
.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 100px;
}

/* NAVBAR STYLING */
  /* Initial style for the navbar */
  .navbar {
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #9FFFCB;
    transition: top 0.3s;
    display: inline-block;
  }

  /* Style for the navbar when it's visible */
  .navbar.visible {
      top: 0;
  }

  /* Add this CSS to handle navbar position for non-home pages */
  .homepage {
    top: -80px; /* Positions the bar above the screen so that it can scroll into view */
  }

  /* Initial style for the title */
  .main-title {
    font-family: 'Roboto Mono', monospace;
    width: 96.5%;
    font-size: 210px;
    text-align: center;
    margin-top: 120px;
    color: black;
    background-color: #9FFFCB;
    padding: 20px;
    transition: font-size 0.3s, margin-top 0.3s;
  }

  /* Allows the title to shrink when you scroll past a certain point */
  .main-title.small {
    font-size: 40px;
    margin-top: 20px;
  }

  /* CSS styling for all of the links within the navbar */
  .nav-container {
      margin-left: 25px;
      margin-right: 25px;
      display: flex;
      align-items: center;
  }

  /* CSS styling for the website name in the navbar */
  .header {
      font-family: 'Roboto Mono', monospace;
      font-size: 36px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;
      color: black;
      font-weight: bold;
  }

  /* CSS styling for the rest of the links within the navbar */
  .nav-link {
      font-family: 'Roboto Mono', monospace;
      font-size: 15px;
      margin-left: 30px;
      font-weight: bold;
      color: black;
      text-decoration: none;
      transition: 0.3s;
  }

  /* Makes the nav-links respond when you hover over them */
  .nav-link:hover {
      text-decoration: underline;
      font-size: 17px;
  }

/* WIDGET STYLING */
  /* The general styling class for all of our widgets on all pages */
  .widget{
      margin: 30px;
      margin-bottom: 40px;
      padding: 20px;
      background-color: #c2ffdd;
      border-radius: 10px;
      display: flex;
      align-items: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* The text on all the widgets */
  .widget-text{
      margin: 30px;
      text-align: center;
      font-size: 24px;
      max-width: 400px;
  }

  /* Makes sure that the bottom-bar doesn't
  cover any of the content on the page */
  .instruction-widget{
    margin-bottom: 75px
}

  /* Makes the font size smaller for the instcutions */
  .instruction-widget-text{
      font-size: 18px;
  }

  /* Stylng for the images that appear in the widgets */
  .image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 400px;
      max-height: 400px;
      border-radius: 10px;
  }

  /* Allows the images to fill the entire space that it is assigned to */
  .image img {
      max-width: 100%;
      max-height: 100%;
  }

  /* The link for the github repository */
  .git-link {
    margin-left: auto;
  }

  /* the image for the github repository link */
  .github {
    height: 30px;
    width: 30px;
    float: right;
  }

  /* Makes sure that all the images are t */
  .text,
  .image {
      flex: 1;
  }

/* LOGIN/REGISTER PAGE CSS */
  /* Contains all of the content for the login and register page */
  .login-container {
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
  }

  /* The widget for the login form + image */
  .login-widget {
      display: flex;
      width: 100%;
      max-width: 1000px;
      max-height: 371px;
      margin: 70px auto;
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
      overflow: hidden;
  }

  /* The widget for the register form + image */
  .register-widget {
      display: flex;
      width: 100%;
      max-width: 1000px;
      max-height: 371px;
      margin: 70px auto;
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
      overflow: hidden; 
  }

  /* Styling for the image on the login and register page */
  .login-image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }

  /* Makes the image on the login and register page fill the defined area */
  .login-image img {
      width: 100%;
      max-width: none;
      height: auto;
  }

  /* Creates a box for the login form to go on */
  .login-box {
      padding: 20px;
      height: 100%;
      background-color: #c2ffdd;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  /* Makes the login text better formatted within the loginBox */
  .user-login {
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    align-items: center;
  }

  /* The header for each page, makes it look bigger and centered */
  .title {
    text-align: center;
    font-size: 40px;
    font-family: 'Metrophobic', monospace;
    color: white;
    margin-top: 10px;
    
  }

  .login-text{
      font-family: 'Roboto Mono', monospace;
      margin-top: -30px;
      margin-bottom: 20px;
  }

  .login-field {
      font-family: "Roboto Mono", monospace;
      border-radius: 10px;
      padding: 5px;
      border-width: 2px;
      border-style: solid;
      border-color: #ddd;
  }

  .login-buttons{
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  /* Changes the input button to look better with no border and a better font */
  input[type = submit] {
    padding: 5px 15px;
    border: 0 none;
    margin: 5px;
    font-family: 'Roboto Mono', monospace;
  }

  /* The button that takes you between the login page and the register page */
  .register-button {
    font-family: 'Montserrat', sans-serif;
    color: #27a8ee;
  }

/* FLASHED MESSAGES CSS */
  /* General styling for the flashes */
  .flashes {
    display: flex;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    width: 10vw;
    border-radius: 10px;
    margin: 20px auto 0;
    align-items: center;
    justify-content: center;
  }

  /* Styling for the flashed text */
  .flashes p {
    flex: 1;
    margin: 0;
    text-align: center;
    padding: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    white-space: nowrap;
  }

  /* Styling for the close button */
  .flashes span {
    margin-left: auto;
    padding: 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    transition: 0.1s;
    border-left: none;
  }

  /* When you hover over the close button it increases in size */
  .flashes span:hover {
    font-size: 30px;
    padding: 10.5px;
    cursor:pointer;
  }

  /* makes the text color white and adds a border */
  .info,
  .error {
    color: white;
    border: 3px solid white;
  }

  /* For the flashes that are for information, the background is black */
  .info {
    background-color: #000;
  }

  /* For the flashes that are for errors, the background is red */
  .error {
    background-color: red;
  }

/* BOTTOM BAR CSS  */
  /* Adds a bottom bar to every page for the copyright information */
  .bottom-bar {
    display: flex;
    justify-content: space-between; /* Align items to the start and end of the container */
    align-items: center;
    position: fixed;
    bottom: -90px; /* Starts the bottom bar below the screen so it can slide up with animation */
    width: 100%;
    background-color: #9FFFCB;
    padding: 10px;
    overflow: hidden;
    transition: bottom 0.3s;
    z-index: 1;
  }

  /* Moves the bottom bar back up to the bottom of the screen */
  .bottom-bar.visible {
    bottom: 0; /* Move the footer back to its original position */
  }

  /* Styling for the text on the bottom bar */
  .footer-text{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin-right: 10px;
  }

/* DASHBOARD CSS */
  /* Contains all the content for the dashboard */
  .dashboard-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
    margin-bottom: 100px;
  }

  /* Widget that contains the class tables */
  .left-widget {
      flex-direction: column;
      float: left;
      background-color: #c2ffdd;
      border-radius: 15px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      width: 50vw;
      max-height: 100vw;
      overflow: auto;
      padding: 20px;
      display: none;
      transform: translateX(-200%); /* Starts the widget off the screen so it is not seen */
  }

  /*  */
  .left-widget.visible{
      display: flex;
      animation: slideinLeft 0ms forwards;
  }

  .right-widgets {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .class-widget{

      background-color: #c2ffdd;
      width: 600px;
      border-radius: 15px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      transition: transform 0.3s ease-in-out;
      flex: 1;
      margin-left: 30px;
      text-align: center;
      font-size: 25px;
      margin-bottom: 30px;
      display: block;

  }

  .class-widget.fadeout{
      animation: fadeout 250ms;
      display: none;
  }

  .class-widget.visible{
      background-color: #c2ffdd;
      width: 300px;
      border-radius: 15px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      transition: transform 0.3s ease-in-out;
      flex: 1;
      margin-left: 30px;
      text-align: center;
      margin-bottom: 30px;
      display: block;
      animation: slideinRightClass 0ms forwards;
      font-size: 15px;
  }


  .results-widget {
      flex-direction: column;
      float: left;
      background-color: #c2ffdd;
      border-radius: 15px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      margin-left: 30px;
      width: 300px;
      padding: 20px;
      display: none;
      transform: translateX(200%);
  }

  .results-widget.visible{
      display: flex;
      animation: slideinRight 0ms forwards;
  }

  .delete {
    color: red;
    border: 0.3vmin solid red;
    padding: 8px;
    height: auto;
    transition: 0.3s;
  }

  .delete:hover {
    cursor:pointer;
    background-color: red;
    color: white;
  }

  .grade-label { 
    padding-top: 1%;
    padding-left: 2%;
    font-family: 'Roboto Mono', monospace;
  }

  .grades {
    margin-left: 1%;
    margin-right: 1%;
    align-items: center;
    padding-inline: 2%;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 1%;
  }

  .grades th {
    text-align: left;
    text-decoration: bold;
    font-size: 20px;
    padding-right: 50px;
  }

  .grades td {
    border: 3px solid #18637B;
    border-spacing: 0 1px;
    padding-right: 10px;
    padding-left: 5px;
    transition: 0.3s;
    color:black;
  }

  .add-div {
    display: flex;
    flex-direction: column;
    float: left;
    background: #18637B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .add-label {
    font-family: 'Roboto Mono', monospace;
    text-align: center;;
  }

  .enter {
    padding: 1%;
    width: 75%;
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
    border: none;
    margin-bottom: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor:text;
  }

  .dropdown {
    padding: 1%;
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
    width: 77%;
    border: none;
    margin-bottom: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor:pointer;
  }

  .init-choice {
      color: grey;
  }

  .submit-button {
    padding: 1.5%;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    border-radius: 10px;
    width: 40%;
    margin-top: 3%;
    border: none;
    margin-bottom: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #3B8D61;
    color: white;
    cursor:pointer;
    font-size: 16px;
    transition: 0.3s;
  }

  .submit-button:hover {
    background: #358157;
  }

  .info-div {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 2vh;
    margin-left: 2vh;
    height: 38vh;
    width: 47vw;
    background: #18637B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    border-radius: 10px;
  }

  .info-label {
    padding-top: 1%;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .gpa-text {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
  }

  .getPDF {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #3B8D61;
    cursor:pointer;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    margin: 20px;
  }

  .getPDF:hover {
    background: #358157;
  }

  .grade-form {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
    text-align: center;
  }

  .gpa-report {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ddd;
  }

  .pdf-button {
    padding: 5px 15px;
    border: 0 none;
    display: flex;
    margin: auto;
    align-content: center;
    font-family: 'Montserrat', sans-serif;
  }

/* CHATBOT CSS */
  /* The button to open/close the chatbot */
  .chat-button {
    margin-right: 20px;
    height: 50px;
    width: 50px;
    color: #fff;
    background: #114454;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  /* Adds an animation when you click the chat-button */
  .show-chatbot .chat-button {
    transform: rotate(90deg);
  }

  /* Centers the icons on the chat-button */
  .chat-button span {
    position: absolute;
  }

  /*  */
  .show-chatbot .chat-button span:first-child,
  .chat-button span:last-child {
    opacity: 0;
  }

  .show-chatbot .chat-button span:last-child {
    opacity: 1;
  }

  /* Creates the container for the chatbot
  Starts off as hidden, and when a class is
  added to the main div */
  .chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    background: #114454;
    border-radius: 15px;
    overflow: hidden;
    transform: (scale(0.5));
    opacity: 0;
    pointer-events: none;
    transform-origin: bottom right;
    font-family: 'Metrophobic', sans-serif;
    transition: all 0.1s ease;
    z-index: 1;
  }

  /* When the chatbot is visible,
  it grows in and becomes visible */
  .show-chatbot .chatbot {
    transform: (scale(1));
    opacity: 1;
    pointer-events: auto;
  }

  /* Heading background for the chatbot */
  .chatbot header {
    background: #18637B;
    padding: 16px 0;
    text-align: center;
  }

  /* Heading text */
  .chatbot header h2  {
    color: black;
    font-size: 1.4rem;
  }

  /* styling for the messages within the chatbot */
  .chatbot ul {
    list-style-type: none; /* removes the dot in front of the list elements */
    padding: 5px;
    margin: 0;
  }

  /* The area that the messages take up */
  .chatbot .chatbox {
    height: 400px;
    overflow-y: auto; /* Allows the user to scroll down when there are too many messages */
    padding: 30px 20px 100px;
  }

  /* All of the user-sent messages,
  pushes it to the right side of the chatbox */
  .chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
  }

  /* Makes the messages able to be aligned vertically */
  .chatbox .chat {
    display: flex;
  }

  /* The text within the ul element
  -> the messages that are sent */
  .chatbot .chat p {
    color: black;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 12px 16px;
    white-space: pre-wrap;
    border-radius: 10px 10px 0 10px;
    background: #18637B;
  }

  /* The styling for the bots messages */
  .chatbot .incoming p {
    color: #000;
    border-radius: 10px 10px 10px 0;
    background: #f2f2f2;
  }

  /* The robot icon that appears next to the
  incoming messages */
  .chatbot .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #18637B;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
  }

  /* Positions the message input at the bottom of the chatbot */
  .chatbot .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
  }

  /* The area where the user can input their message */
  .message-input textarea {
    height: 22px;
    width: 82%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none; /* Makes it so you cant resize the chatbot */
    padding: 16px 15px 16px 0;
  }

  /* CSS for the send button */
  .message-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #18637B;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
  }

  .message-input textarea:valid ~ span {
    visibility: visible;
  }


  /* Snaps the chatbot to both sides of the screen if
  the screen width is less than 490px */
  @media(max-width: 490px) {
    .chat-bot {
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .chat-bot .chat-box {
      height: 90%;
    }
  }


/* CLICKTHROUGH TUTORIAL CSS */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}


.help-widget {
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 45px;
  width: 180px;
  height: 190px;
  margin: 30px 30px 40px;
  padding: 20px;
  background-color: #74BAE6;
  border: 5px solid #1E70A3;
  border-radius: 10px;
  display: none;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.help-widget-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.help-buttons {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.help-button {
  padding: 5px;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  border-radius: 8px;
  width: 80px;
  height: 25px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #80FFDB;
  color: black;
  cursor:pointer;
  transition: 0.3s;
  margin-right: 4%;
  font-size: 15px;
  font-weight: bold;
}

/* KEYFRAME ANIMATIONS */
  @keyframes slideinLeft {
    from {
        display: none;
    }
    to{
        transform: translateX(0);
        display: flex;
    }
  }

  @keyframes slideinRight {
    from {
        transform: translateX(200%);
        display: none;
    }
    to{
        transform: translateX(0);
        display: flex;
    }
  }

  @keyframes slideinRightClass {
    from {
        display: none;
    }
    to{
        transform: translateX(0);
        display: block;
    }
  }

  @keyframes fadeout {
    from {
        display: block;
    }
    to {
        opacity: 0;
    }
  }
