<!-- base.html allows us to make a consistent theme across each page on the website, giving each page a heading bar and a bottom bar, as well as a background color -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"/>
    <link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap"
          rel="stylesheet"/>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <!-- Div for the top navigation bar -->
    <div class="navbar">
      <div class="nav-container">
        <!-- prettier-ignore -->
        <a class="header" href = "{{ url_for('home.home') + '#mainScreen'}}">GPAWIZARD</a>
        <a class="navLink" href="{{ url_for('home.home') + '#helpScreen' }}">How To Use</a>
        {% if current_user and current_user.is_authenticated %}
        <!-- These buttons only show up if the user is logged in -->
        <a class="navLink" href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
        <a class="navLink" href="{{ url_for('auth.logout') }}">Logout</a>

        {% else %}
        <!-- This button only shows up if the user is not logged in -->
        <a class="navLink" href="{{ url_for('auth.login') }}">Login/Signup</a>
        {% endif %}
      </div>
    </div>
    <!-- Div for the bottom nav bar -->
    <div class="bottomBar">
      <p class="footer-text">By Kaushal Dabbiru, Tejas Panja, Safwan Hasan</p>
      <p class="footer-text footer-right">FBLA Intro to Programming</p>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <div id="content">{% block content %}{% endblock %}</div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var isHomePage = "{{ request.path }}" === "/";
          var navbar = document.querySelector('.navbar');

          if (isHomePage) {
              navbar.classList.add('homepage');
          } else {
              navbar.classList.remove('homepage')
          }
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
          // Check if the URL contains #helpScreen
          if (window.location.href.indexOf('#helpScreen') > -1) {
              // Scroll to the element with id "helpScreen"
              var helpScreenElement = document.getElementById('helpScreen');
              if (helpScreenElement) {
                  helpScreenElement.scrollIntoView({ behavior: 'smooth' });
              }
          }
      });
    </script>

  </body>
</html>
