{% extends "base.html" %} {% block content %}
    <div id = "gradeFormsContainer">
        <div id = "Grades">
            <form action="" method="get">
                <label>9th Grade</label>
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="9class1">Class 1:</label>
                <input type="text" id="9class1" style="width: 100px;">
                <label for="9credits1">Credits Recieved</label>
                <input type = "number" id = "9credits1"style="width: 40px;">
                <label for="9grade1">Credits Recieved</label>
                <input type = "text" id = "9grade1"style="width: 40px;">
                
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="9class2">Class 2:</label>
                <input type="text" id="9class2" style="width: 100px;">
                <label for="9credits2">Credits Recieved</label>
                <input type = "number" id = "9credits2"style="width: 40px;">
                <label for="9grade2">Credits Recieved</label>
                <input type = "text" id = "9grade2"style="width: 40px;">
                    <br>
                </div>        
                <label for="9class3">Class 3:</label>
                <input type="text" id="9class3" style="width: 100px;">
                <label for="9credits3">Credits Recieved</label>
                <input type = "number" id = "9credits3"style="width: 40px;">
                <label for="9grade3">Credits Recieved</label>
                <input type = "text" id = "9grade3"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="9class4">Class 4:</label>
                <input type="text" id="9class4" style="width: 100px;">
                <label for="9credits4">Credits Recieved</label>
                <input type = "number" id = "9credits4"style="width: 40px;">
                <label for="9grade4">Credits Recieved</label>
                <input type = "text" id = "9grade4"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="9class5">Class 5:</label>
                <input type="text" id="9class5" style="width: 100px;">
                <label for="9credits5">Credits Recieved</label>
                <input type = "number" id = "9credits5"style="width: 40px;">
                <label for="9grade5">Credits Recieved</label>
                <input type = "text" id = "9grade5"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="9class6">Class 6:</label>
                <input type="text" id="9class6" style="width: 100px;">
                <label for="9credits6">Credits Recieved</label>
                <input type = "number" id = "9credits5"style="width: 40px;">
                <label for="9grade6">Credits Recieved</label>
                <input type = "text" id = "9grade6"style="width: 40px;">
                    <br>
                </div>        
                <label for="9class7">Class 7:</label>
                <input type="text" id="9class7" style="width: 100px;">
                <label for="9credits7">Credits Recieved</label>
                <input type = "number" id = "9credits7"style="width: 40px;">
                <label for="9grade7">Credits Recieved</label>
                <input type = "text" id = "9grade7"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>
                <label>10th Grade</label>
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="10class1">Class 1:</label>
                <input type="text" id="10class1" style="width: 100px;">
                <label for="10credits1">Credits Recieved</label>
                <input type = "number" id = "10credits1"style="width: 40px;">
                <label for="10grade1">Credits Recieved</label>
                <input type = "text" id = "10grade1"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>
                <label for="10class2">Class 2:</label>
                <input type="text" id="10class2" style="width: 100px;">
                <label for="10credits2">Credits Recieved</label>
                <input type = "number" id = "10credits2"style="width: 40px;">
                <label for="10grade2">Credits Recieved</label>
                <input type = "text" id = "10grade2"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="10class3">Class 3:</label>
                <input type="text" id="10class3" style="width: 100px;">
                <label for="10credits3">Credits Recieved</label>
                <input type = "number" id = "10credits3"style="width: 40px;">
                <label for="10grade3">Credits Recieved</label>
                <input type = "text" id = "10grade3"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="10class4">Class 4:</label>
                <input type="text" id="10class4" style="width: 100px;">
                <label for="10credits4">Credits Recieved</label>
                <input type = "number" id = "10credits4"style="width: 40px;">
                <label for="10grade4">Credits Recieved</label>
                <input type = "text" id = "10grade4"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="10class5">Class 5:</label>
                <input type="text" id="10class5" style="width: 100px;">
                <label for="10credits5">Credits Recieved</label>
                <input type = "number" id = "10credits5"style="width: 40px;">
                <label for="10grade5">Credits Recieved</label>
                <input type = "text" id = "10grade5"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="10class6">Class 6:</label>
                <input type="text" id="10class6" style="width: 100px;">
                <label for="10credits6">Credits Recieved</label>
                <input type = "number" id = "10credits6"style="width: 40px;">
                <label for="10grade6">Credits Recieved</label>
                <input type = "text" id = "10grade6"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="10class7">Class 7:</label>
                <input type="text" id="10class7" style="width: 100px;">
                <label for="10credits7">Credits Recieved</label>
                <input type = "number" id = "10credits7"style="width: 40px;">
                <label for="10grade7">Credits Recieved</label>
                <input type = "text" id = "10grade7"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>
                <label>11th Grade</label>
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="11class1">Class 1:</label>
                <input type="text" id="11class1" style="width: 100px;">
                <label for="11credits1">Credits Recieved</label>
                <input type = "number" id = "11credits1"style="width: 40px;">
                <label for="11grade1">Credits Recieved</label>
                <input type = "text" id = "11grade1"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="11class2">Class 2:</label>
                <input type="text" id="11class1" style="width: 100px;">
                <label for="11credits1">Credits Recieved</label>
                <input type = "number" id = "11credits1"style="width: 40px;">   
                <label for="11grade1">Credits Recieved</label>
                <input type = "text" id = "11grade1"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class3">Class 3:</label>
                <input type="text" id="class3"style="width: 100px;">
                <label for="credits3">Credits Recieved</label>
                <input type = "number" id = "credits3"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class4">Class 4:</label>
                <input type="text" id="class4"style="width: 100px;">
                <label for="credits4">Credits Recieved</label>
                <input type = "number" id = "credits4"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class5">Class 5:</label>
                <input type="text" id="class5"style="width: 100px;">
                <label for="credits5">Credits Recieved</label>
                <input type = "number" id = "credits5"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class6">Class 6:</label>
                <input type="text" id="class6"style="width: 100px;">
                <label for="credits6">Credits Recieved</label>
                <input type = "number" id = "credits6"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class7">Class 7:</label>
                <input type="text" id="class7"style="width: 100px;">
                <label for="credits7">Credits Recieved</label>
                <input type = "number" id = "credits7"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>
                <label>12th Grade</label>
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class1">Class 1:</label>
                <input type="text" id="class1" style="width: 100px;">
                <label for="credits1">Credits Recieved</label>
                <input type = "number" id = "credits1"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class2">Class 2:</label>
                <input type="text" id="class2"style="width: 100px;">
                <label for="credits2">Credits Recieved</label>
                <input type = "number" id = "credits2"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class3">Class 3:</label>
                <input type="text" id="class3"style="width: 100px;">
                <label for="credits3">Credits Recieved</label>
                <input type = "number" id = "credits3"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class4">Class 4:</label>
                <input type="text" id="class4"style="width: 100px;">
                <label for="credits4">Credits Recieved</label>
                <input type = "number" id = "credits4"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class5">Class 5:</label>
                <input type="text" id="class5"style="width: 100px;">
                <label for="credits5">Credits Recieved</label>
                <input type = "number" id = "credits5"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class6">Class 6:</label>
                <input type="text" id="class6"style="width: 100px;">
                <label for="credits6">Credits Recieved</label>
                <input type = "number" id = "credits6"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>        
                <label for="class7">Class 7:</label>
                <input type="text" id="class7"style="width: 100px;">
                <label for="credits7">Credits Recieved</label>
                <input type = "number" id = "credits7"style="width: 40px;">
                <div style="line-height:150%;">
                    <br>
                </div>
                <input type="submit">
            </form>
        </div>
        <div style="clear: both;"></div>
    </div>
    <!--{% for class in classes %} {{

    class.received_grade }} 

    {% endfor %} -->
</html>
{% endblock %}
