{% extends "base.html" %} {% block content %}
<script>
  function openForm(gradeTaken) {
    var form = document.getElementById("addClass");
    form.style.display = "block";

    var gradeHeading = document.getElementById("gradeHeading");
    gradeHeading.value = gradeTaken;
  }

  function closeForm() {
    document.getElementById("addClass").style.display = "none";
  }
</script>
<div class = "dashboardContainer">
  <div class = "tableDiv">
      <table class = "grades">
        <tr>
          <th>9th Grade</th>
          <th>10th Grade</th>
          <th>11th Grade</th>
          <th>12th Grade</th>
        </tr>
      </table>
  </div>
  <div class = "addDiv">

  </div>
  <div class = "infoDiv">

  </div>
</div>
{% endblock %}
