{% extends "base.html" %} {% block content %}
<script>
  function openForm(gradeTaken) {
    var form = document.getElementById("addClass");
    form.style.display = "block";

    var gradeHeading = document.getElementById("gradeHeading");
    gradeHeading.value = gradeTaken;
  }

  function closeForm() {
    document.getElementById("addClass").style.display = "none";
  }
</script>
<div class = "dashboardContainer">
  <div class = "tableDiv">
    <h1 class = "gradeLabel">9th Grade</h1>
      <table class = "9thGrade grades">
        <tr>
          <th>Class</th>
          <th>Grade</th>
          <th>Type</th>
          <th>Credits</th>
        </tr> 
      </table>
    <h1 class = "gradeLabel">10th Grade</h1>
    <h1 class = "gradeLabel">11th Grade</h1>
    <h1 class = "gradeLabel">12th Grade</h1>
  </div>
  <div class = "addDiv">

  </div>
  <div class = "infoDiv">

  </div>
</div>
{% endblock %}
