{% extends "base.html" %} {% block content %}
<script src="{{url_for('static', filename='dashboard.js')}}" defer></script>
<div class = "dashboardContainer">
    <div class="leftWidget">
      <div class = "tableDiv">
        {% for grade, classes in classes_by_grade.items() %}
            <h1 class = "gradeLabel">{{ grade }}th Grade</h1>
            <table class = "{{ grade }} grades">
                <tr>
                <th>Class     </th>
                <th>Grade     </th>
                <th>Credits     </th>
                </tr>
                {% for class in classes %}
                <tr>
                    <td>{{class.name}}</td>
                    <td>{{class.received_grade}}</td>
                    <td>{{class.credits}}</td>
                    <td>
                        <form action="{{ url_for('dashboard.delete_class', class_id=class.id) }}" method="GET">
                            <input type="submit" value="Remove">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
      </div>
    </div>
    <div class="rightWidgets">
      <div class = "classWidget">
        <h1 class = "addLabel">Add Classes</h1> <!--                                      update the 'add a class' text on submission-->
        <form id = "addClass" action="{{ url_for('dashboard.dashboard') }}" method="POST" onsubmit="toggleVisibility()">

              <input type = 'text' id = 'class' class = "enter" name = 'name' placeholder="Enter the class name" required>
              <br>
              <!-- <label for = "grade" class = "dropdownLabel">Grade Recieved:</label> -->
              <select class = "grade dropdown" id="grade" name = "received_grade" required>
                <option value = "" disabled selected class = "initChoice">Class grade</option>
                <option value="A">A</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
                <option value="B-">B-</option>
                <option value="C+">C+</option>
                <option value="C">C</option>
                <option value="C-">C-</option>
                <option value="N">N</option>
              </select>
              <br>
              <input type = 'text' id = 'credits' class = "enter" name = 'credits', placeholder="Enter credits">
              <br>
              <!-- <label for = "year" class = "dropdownLabel">Year Taken:</label> -->
              <select class = "year dropdown" id="year" name = "grade_taken" required>
                <option value = "" disabled selected class = "initChoice">Year</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <br>
              <!-- <label for = "type" class = "dropdownLabel">Class Type:</label> -->
              <select class = "type dropdown" id="type" name = "type" required>
                <option value = "" disabled selected class = "initChoice">Class Type</option>
                <option value="">Normal</option>
                <option value="AP">AP</option>
                <option value="Honors">Honors</option>
              </select>
              <br>
              <button type="submit" class="submitButton">Add Class</button>

        </form>
      </div>

      <div class = "bottomWidget">
        <h1 class = "infoLabel">Your Report</h1>
        {% if has_classes %}
          <h2 class="gpaText">Unweighted GPA: {{ unweighted_gpa }}</h2>
          <h2 class="gpaText">Weighted GPA: {{ weighted_gpa }}</h2>
          <!-- prettier-ignore -->
          <a class = "getPDF" href = "{{ url_for('dashboard.download_report') }}">Download PDF</a>
    {% endif %}
      </div>
    </div>
</div>

<script>
    var leftWidget = document.querySelector('.leftWidget');
    var table = document.querySelector('.tableDiv');
    var bottomWidget = document.querySelector('.bottomWidget');
    var classWidget = document.querySelector('.classWidget');

    window.onload = function() {
        if (table.getElementsByTagName('table').length >= 1) {
            classWidget.classList.add('fadeout');

            setTimeout(function() {
                classWidget.style.transform = 'translateX(200%)';
                leftWidget.classList.add('visible');
                bottomWidget.classList.add('visible');
                classWidget.classList.add('visible');
            }, 250);
        }
    };
/*
    document.addEventListener('click', function(event) {
        classWidget.classList.add('fadeout');

        setTimeout(function() {
            classWidget.style.transform = 'translateX(200%)';
            leftWidget.classList.add('visible');
            bottomWidget.classList.add('visible');
            classWidget.classList.add('visible');
        }, 250);
    });

 */




</script>


{% endblock %}
