<!-- Webpage for logging in  -->

{% extends "base.html" %} {% block content %}
<!-- Title for the page -->
<div class="login-widget">
    <div class="login-container">

        <!-- Div for the box that the form sits on -->
        <div class="login-box">
            <h2 class="login-text">Login</h2>
            <!-- Form that sends an action to auth.login to check if the username and password exist within the database using the POST method -->
            <form action="{{ url_for('auth.login') }}" method="POST" class="login">
                <!-- The class for the username, contains the Username label and the text box for inputting it -->
                <div class="user-login">
                    <label for="username">Username:</label>
                    <input class="login-field" type="text" id="username" name="username" placeholder="Username" required />
                </div>
                <br />
                <!-- The class for the password, contains the Password label and the text box for inputting it -->
                <div class="user-login">
                    <label for="password">Password:</label>
                    <input class="login-field" type="password" id="password" name="password" placeholder="Password" required />
                </div>
                <br />
                <div class="login-buttons">
                    <!-- Submit button -->
                    <input class="submit-button" type="submit" name="submit" value="Login" />
                    <h3> No Account?</h3>
                    <!-- Link to swap to the register page -->
                    <a class="submit-button" href="{{ url_for( 'auth.register') }}">Register Here</a>
                </div>

  </form>
</div>
</div>
<div class="login-image">
    <img src="{{ url_for('static', filename='Review1.jpg') }}" />
</div>
</div>
{% endblock %}