{% extends "base.html" %} {% block content %}

<div class="register-widget">
  <div class="login-image">
    <img src="{{ url_for('static', filename='Review2.jpg') }}" />
  </div>
<div class="login-container">
    <div class="login-box">
        <h2 class="login-text">Register</h2>
        <form action="{{ url_for('auth.register') }}" method="POST" class="register">
            <div class="user-login">
                <label for="username">Username:</label>
                <label for="username"></label>
                <input class="login-field"
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Username"
                    required
                />
            </div>
            <br />
            <div class="user-login">
                <label for="password">Password:</label>
                <input class="login-field"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required
                />
            </div>
            <br />
            <div class="login-buttons">
                <input class="submit-button" type="submit" name="submit" value="Register" />
                <h3> Already have an Account? </h3>
                <a class="submit-button" href="{{ url_for('auth.login') }}">Log in Here</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
